* {
  margin: 0;
  padding: 0;
}

/* Navigation Bar */

nav {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  height: 64px;
  width: 100%;
}

nav a {
  text-transform: uppercase;
  display: flex;
  text-align: center;
  vertical-align: middle;
  height: 64px;
  text-decoration: none;
}

nav a:visited {
  color: #fff;
}

nav ul {
  align-items: right;
  list-style: none;
}

nav ul li{
  display: inline-block;
}

.container {
  display: flex;
  align-items: center;
}

.home-button {
  display: flex;
  align-items: center;
  padding: 0 40px;
}

.nav-buttons {
  padding: 0 40px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
}

.nav-ind-button {
  padding: 0 20px;
  color: white;
}

.brand-text-span {
  color: rgb(235, 16, 16);
  margin: 0 5px;
}

.delay-button {
  background-color: #000;
  color: white;
  border: none;
  cursor: pointer;
  transition: color 0.3s;
}

.delay-button:hover {
  color: rgb(235, 16, 16);
  background-color: #1d1d1d;
}

.delay-button:active {
  color: rgba(235, 16, 16, 0.637);
}